@font-face {
  font-family: "Poppins-Regular";
  src: url(../assets/fonts/Poppins-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url(../assets/fonts/Poppins-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "Staatliches";
  src: url(../assets/fonts/Staatliches-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Oswald";
  src: url(../assets/fonts/Oswald-Regular.ttf) format("truetype");
}

:root {
  --background-color: #f2f2f2;
  --main-font-color: #0d0d0d;
  --grey: #bfbdba;
  --blue: #022873;
  --red: #732002;
  --white: #ffffff;

  --logo-font: "Staatliches";
  --main-font: "Oswald";
}

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
}

header {
  background-color: var(--grey);
  width: 100%;
}

header h1 {
  font-family: var(--logo-font);
  margin: 0;
  padding: 10px 0;
}

main {
  font-family: var(--main-font);
  width: 90%;
  margin: 0 auto;
  background-color: var(--background-color);
}

.logo-container {
  width: 90%;
  margin: 0 5%;
}

.logo-font {
  font-family: var(--logo-font);
  text-transform: uppercase;
  color: var(--main-font-color);
}

.reverse {
  display: inline-block;
  transform: scaleX(-1);
  color: var(--white);
}

a {
  color: inherit;
}

.breadcrumbs a + a::before {
  display: inline-flex;
  flex-direction: row;
  content: ">";
  padding: 0 10px;
  color: var(--grey);
  margin: 20px 0 0;
}

.breadcrumbs,
button {
  font-family: var(--logo-font);
}

.list-header {
  font-size: 35px;
  margin: 20px 0;
}
