@font-face {
  font-family: "Poppins-Regular";
  src: url(../assets/fonts/Poppins-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url(../assets/fonts/Poppins-SemiBold.ttf) format("truetype");
}

.category-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  width: 100%;
  margin: 10px auto;
  gap: 10px;
  font-size: 24px;
}

main a {
  border-radius: 20px;
  border: 1px solid black;
  padding: 20px;
  text-decoration: none;
  color: black;
  background-color: var(--white);
}
