@font-face {
  font-family: "Poppins-Regular";
  src: url(../assets/fonts/Poppins-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url(../assets/fonts/Poppins-SemiBold.ttf) format("truetype");
}

html {
  font-family: "Poppins-Regular";
  text-decoration: none;
  font-size: 14px;
}

body {
  width: 90%;
  margin: 0 auto;
}
.category-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  width: 90%;
  margin: 0 auto;
  gap: 10px;
}

a {
  border-radius: 20px;
  border: 1px solid black;
  padding: 20px;
  text-decoration: none;
  color: black;
}
