@font-face {
  font-family: "Poppins-Regular";
  src: url(../assets/fonts/Poppins-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url(../assets/fonts/Poppins-SemiBold.ttf) format("truetype");
}

html {
  font-family: "Poppins-Regular";
  text-decoration: none;
  font-size: 14px;
}

body {
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.product-image img {
  display: block;
  max-width: 100%;
  height: auto;
}

.product-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
  grid-auto-rows: auto;
  gap: 25px;
  margin: 0;
}

.product-list-item {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 6;
  border-radius: 20px;
  border: 1px solid black;
  padding-bottom: 20px;
  background-color: #ffffff;
}

.product-list-image-container {
  max-width: 250px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.product-title,
.product-classifiers,
.product-price,
.product-sale-price,
.product-about {
  padding-left: 8px;
}

.product-about {
  font-family: "Poppins-SemiBold";
  text-decoration: underline;
}

.product-price,
.product-sale-price {
  padding-top: 5px;
}

.product-tag {
  border: 1px solid black;
  padding: 5px;
  border-radius: 10px;
  font-size: 10px;
}

.product-classifiers {
  display: flex;
  gap: 10px;
  text-transform: uppercase;
  font-size: 12px;
}

.product-discount-tag {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #e63946;
  color: #ffffff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.product-discount-tag.active {
  display: flex;
}

.product-stock-tag {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  align-items: center;
  justify-content: center;
}

.product-sale-price {
  visibility: hidden;
}

.product-sale-price.active {
  visibility: visible;
}

.product-stock-tag.active {
  display: flex;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
}

.product-stock-tag.active::before {
  display: flex;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  content: "Out of stock";
}

.product-discount-tag.active::after {
  content: "%";
}

.product-price::before {
  content: "Price: ";
}

.product-price::after,
.product-sale-price::after {
  content: " DKK";
}

.product-sale-price::before {
  content: "Sale price: ";
}

.product-title {
  padding-left: 5px;
  font-family: "Poppins-SemiBold";
}
