.breadcrumbs {
  margin-bottom: 20px;
}
.product-price::before {
  content: "Price: ";
}

h2 {
  max-width: 450px;
  font-size: 35px;
}

.product-sku {
  font-size: 14px;
}

.product-brand {
  font-size: 24px;
  margin-top: 10px;
}

.product-price,
.product-sale-price {
  font-size: 20px;
  text-transform: uppercase;
}

.product-price {
  margin-top: 20px;
}

.product-sku::before {
  content: "ID: ";
}

.product-price::before {
  content: "Price: ";
}

.product-sale-price::before {
  content: "Sale price:\00a0";
}

.product-sale-price::after {
  content: "\00a0 DKK";
}

.product-sale-price {
  display: none;
}

.product-sale-price.active {
  display: flex;
}

.product-image {
  max-width: 400px;
  max-height: auto;
}

.product-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
}

.product-info-container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.product-info-container div {
  padding-bottom: 20px;
}

.basket-btn {
  text-decoration: none;
  border: 1px solid var(--main-font-color);
  padding: 10px 20px;
  border-radius: 20px;
  background-color: var(--white);
  font-size: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

.product-info-container > div:last-child {
  margin-top: 30px;
}

.price-struck {
  text-decoration-line: line-through;
  color: var(--red);
}
